.admin-users-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}
.table {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.titles {
  display: grid;
  grid-template-columns: 500px 500px;
}
.values {
  display: grid;
  grid-template-columns: 500px 500px;
}
.title,
.value {
  border: 1px solid black;
  padding: 10px;
}
